.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
2022spring/.DS_Store
2023_App_01_ProSport/0_SEA2023安排.pptx
2023_App_01_ProSport/0_SEA2024安排.pptx
2023_App_01_ProSport/0_SEA2024安排_副本.pptx
2023_App_01_ProSport/99_如何做学术报告.pptx
2023spring/.DS_Store
2024spring/.DS_Store
2024spring/Lec00/.DS_Store
2024spring/Lec00/data/data_pums_2000.csv
2024spring/Lec00/figs/.DS_Store
2024spring/Lec00/figs/三个维度.jpg
2024spring/Lec00/Lec13.html
2024spring/Lec00/Lec13.pdf
2024spring/Lec00/Lec13.Rmd
2024spring/Lec00/Lec13.Rproj
2024spring/Lec00/libs/header-attrs/header-attrs.js
2024spring/Lec00/libs/kePrint/kePrint.js
2024spring/Lec00/libs/lightable/lightable.css
2024spring/Lec00/my-css.css
2024spring/Lec00/video/.DS_Store
2024spring/Lec00/video/FirstEsportsSpacewar.mp4
2024spring/Lec00/video/monkey.mp4
2024spring/Lec00/video/Pong.mp4
2024spring/Lec00/video/Tennis4two.mp4
2024spring/Lec00/xaringan-themer.css
2024spring/Lec01/Lec01.html
2024spring/Lec01/Lec01.pdf
2024spring/Lec01/Lec01.Rmd
2024spring/Lec02/Lec02.html
2024spring/Lec02/Lec02.pdf
2024spring/Lec02/Lec02.Rmd
2024spring/Lec03/.DS_Store
2024spring/Lec03/Lec03.html
2024spring/Lec03/Lec03.pdf
2024spring/Lec03/Lec03.Rmd
2024spring/Lec04/Lec04.html
2024spring/Lec04/Lec04.pdf
2024spring/Lec04/Lec04.Rmd
2024spring/Lec05/.DS_Store
2024spring/Lec05/Lec05.html
2024spring/Lec05/Lec05.pdf
2024spring/Lec05/Lec05.Rmd
2024spring/Lec06/.DS_Store
2024spring/Lec06/figs/bastiat.png
2024spring/Lec06/figs/prices_cost_disease.png
2024spring/Lec06/figs/why_are_the_prices.png
2024spring/Lec06/Lec06.html
2024spring/Lec06/Lec06.pdf
2024spring/Lec06/Lec06.Rmd
2024spring/Lec07/.DS_Store
2024spring/Lec07/Lec07.html
2024spring/Lec07/Lec07.pdf
2024spring/Lec07/Lec07.Rmd
2024spring/Lec08/.DS_Store
2024spring/Lec08/Lec08.html
2024spring/Lec08/Lec08.pdf
2024spring/Lec08/Lec08.Rmd
2024spring/Lec08/video/HostingGameIsn'tWorth.mp4
2024spring/Lec09/.DS_Store
2024spring/Lec09/figs/membershipfee.jpg
2024spring/Lec09/figs/tocqueville.jpg
2024spring/Lec09/Lec09.html
2024spring/Lec09/Lec09.pdf
2024spring/Lec09/Lec09.Rmd
2024spring/Lec09/Lec09_files/figure-html/unnamed-chunk-10-1.svg
2024spring/Lec09/Lec09_files/figure-html/unnamed-chunk-11-1.svg
2024spring/Lec09/Lec09_files/figure-html/unnamed-chunk-14-1.svg
2024spring/Lec09/Lec09_files/figure-html/unnamed-chunk-15-1.svg
2024spring/Lec09/Lec09_files/figure-html/unnamed-chunk-9-1.svg
2024spring/Lec09/libs/.DS_Store
2024spring/Lec09/video/.DS_Store
2024spring/Lec09/video/PriceofYouthSports.mp4
2024spring/Lec090/.DS_Store
2024spring/Lec090/data/data_pums_2000.csv
2024spring/Lec090/figs/.DS_Store
2024spring/Lec090/figs/BigPicture1.png
2024spring/Lec090/figs/BigPicture2.png
2024spring/Lec090/figs/BigPicture3.png
2024spring/Lec090/figs/BigPictureC.png
2024spring/Lec090/figs/BigPictureC2D.png
2024spring/Lec090/figs/BigPictureD2C.png
2024spring/Lec090/figs/logWage_Exp.png
2024spring/Lec090/figs/MHE-CEF.png
2024spring/Lec090/figs/power.jpg
2024spring/Lec090/figs/pregnant.jpg
2024spring/Lec090/figs/路径.svg
2024spring/Lec090/figs/随机分配.svg
2024spring/Lec090/Lec09.html
2024spring/Lec090/Lec09.pdf
2024spring/Lec090/Lec09.Rmd
2024spring/Lec090/Lec09.Rproj
2024spring/Lec090/Lec09_cache/html/__packages
2024spring/Lec090/Lec09_cache/html/data_cef_618c431b3764eda070d0f2bcf11055cc.RData
2024spring/Lec090/Lec09_cache/html/data_cef_618c431b3764eda070d0f2bcf11055cc.rdb
2024spring/Lec090/Lec09_cache/html/data_cef_618c431b3764eda070d0f2bcf11055cc.rdx
2024spring/Lec090/Lec09_cache/html/fig_cef_3bc499265bb426484505583d852cf8a3.RData
2024spring/Lec090/Lec09_cache/html/fig_cef_3bc499265bb426484505583d852cf8a3.rdb
2024spring/Lec090/Lec09_cache/html/fig_cef_3bc499265bb426484505583d852cf8a3.rdx
2024spring/Lec090/Lec09_cache/html/fig_cef_dist_f289ff4b7011d7018695f166fc10db9f.RData
2024spring/Lec090/Lec09_cache/html/fig_cef_dist_f289ff4b7011d7018695f166fc10db9f.rdb
2024spring/Lec090/Lec09_cache/html/fig_cef_dist_f289ff4b7011d7018695f166fc10db9f.rdx
2024spring/Lec090/Lec09_cache/html/fig_cef_only_c4ee2a708896f7c69cfb96b270f2b193.RData
2024spring/Lec090/Lec09_cache/html/fig_cef_only_c4ee2a708896f7c69cfb96b270f2b193.rdb
2024spring/Lec090/Lec09_cache/html/fig_cef_only_c4ee2a708896f7c69cfb96b270f2b193.rdx
2024spring/Lec090/Lec09_cache/html/fig_reg_cef2_1bdbee38896f9a246161410a06b8cfa3.RData
2024spring/Lec090/Lec09_cache/html/fig_reg_cef2_1bdbee38896f9a246161410a06b8cfa3.rdb
2024spring/Lec090/Lec09_cache/html/fig_reg_cef2_1bdbee38896f9a246161410a06b8cfa3.rdx
2024spring/Lec090/Lec09_cache/html/fig_reg_cef_e960344dee5fef520d0fcd9d3a1ad746.RData
2024spring/Lec090/Lec09_cache/html/fig_reg_cef_e960344dee5fef520d0fcd9d3a1ad746.rdb
2024spring/Lec090/Lec09_cache/html/fig_reg_cef_e960344dee5fef520d0fcd9d3a1ad746.rdx
2024spring/Lec090/Lec09_files/figure-html/fig_cef-1.svg
2024spring/Lec090/Lec09_files/figure-html/fig_cef_dist-1.svg
2024spring/Lec090/Lec09_files/figure-html/fig_cef_only-1.svg
2024spring/Lec090/Lec09_files/figure-html/fig_reg_cef-1.svg
2024spring/Lec090/Lec09_files/figure-html/fig_reg_cef2-1.svg
2024spring/Lec090/Lec09_备存.Rmd
2024spring/Lec090/libs/header-attrs/header-attrs.js
2024spring/Lec090/libs/kePrint/kePrint.js
2024spring/Lec090/libs/lightable/lightable.css
2024spring/Lec090/my-css.css
2024spring/Lec090/video/error.mp4
2024spring/Lec090/video/error.srt
2024spring/Lec090/video/山鸡.mp4
2024spring/Lec090/xaringan-themer.css
2024spring/Lec090/手算条件概率.jpeg
2024spring/Lec10/.DS_Store
2024spring/Lec10/animate.css
2024spring/Lec10/data/data_pums_2000.csv
2024spring/Lec10/figs/.DS_Store
2024spring/Lec10/figs/air_pollution.png
2024spring/Lec10/figs/cartel.jpg
2024spring/Lec10/figs/clubgoods.png
2024spring/Lec10/figs/coase.png
2024spring/Lec10/figs/concert.jpg
2024spring/Lec10/figs/court1.jpg
2024spring/Lec10/figs/crossfit.jpg
2024spring/Lec10/figs/freeriding.jpg
2024spring/Lec10/figs/governingthecommons.jpg
2024spring/Lec10/figs/individualvsgroup.png
2024spring/Lec10/figs/logWage_Exp.png
2024spring/Lec10/figs/membershipfee.jpg
2024spring/Lec10/figs/Nobel.png
2024spring/Lec10/figs/ostrom.jpg
2024spring/Lec10/figs/pigou.jpg
2024spring/Lec10/figs/propertybundleofrights.png
2024spring/Lec10/figs/r_and_d.png
2024spring/Lec10/figs/samuelson.png
2024spring/Lec10/figs/scrubber.png
2024spring/Lec10/figs/smith.png
2024spring/Lec10/figs/smoking.png
2024spring/Lec10/figs/tocqueville.jpg
2024spring/Lec10/figs/traffic.png
2024spring/Lec10/figs/trafficjam.png
2024spring/Lec10/figs/transactionscosts.JPG
2024spring/Lec10/figs/vaccines.png
2024spring/Lec10/figs/water_pollution.png
2024spring/Lec10/figs/Wikipedia-paper.png
2024spring/Lec10/figs/wikipedia.png
2024spring/Lec10/Lec10.html
2024spring/Lec10/Lec10.pdf
2024spring/Lec10/Lec10.Rmd
2024spring/Lec10/Lec10.Rproj
2024spring/Lec10/Lec10_files/figure-html/unnamed-chunk-11-1.svg
2024spring/Lec10/Lec10_files/figure-html/unnamed-chunk-12-1.svg
2024spring/Lec10/Lec10_files/figure-html/unnamed-chunk-2-1.svg
2024spring/Lec10/Lec10_files/figure-html/unnamed-chunk-3-1.svg
2024spring/Lec10/Lec10_files/figure-html/unnamed-chunk-4-1.svg
2024spring/Lec10/Lec10_files/figure-html/unnamed-chunk-5-1.svg
2024spring/Lec10/Lec10_files/figure-html/unnamed-chunk-6-1.svg
2024spring/Lec10/Lec10_files/figure-html/unnamed-chunk-7-1.svg
2024spring/Lec10/Lec10_files/figure-html/unnamed-chunk-8-1.svg
2024spring/Lec10/Lec10_files/figure-html/unnamed-chunk-9-1.svg
2024spring/Lec10/libs/.DS_Store
2024spring/Lec10/libs/header-attrs/header-attrs.js
2024spring/Lec10/libs/jquery-3.6.0.min.js
2024spring/Lec10/libs/kePrint/kePrint.js
2024spring/Lec10/libs/lightable/lightable.css
2024spring/Lec10/my-css.css
2024spring/Lec10/video/.DS_Store
2024spring/Lec10/video/ClubGoods.mp4
2024spring/Lec10/video/tragedycommons.mp4
2024spring/Lec10/xaringan-themer.css
2024spring/Lec11/.DS_Store
2024spring/Lec11/figs/BigPicture1.png
2024spring/Lec11/figs/BigPicture2.png
2024spring/Lec11/figs/BigPicture3.png
2024spring/Lec11/figs/BigPictureC.png
2024spring/Lec11/figs/BigPictureC2D.png
2024spring/Lec11/figs/BigPictureD2C.png
2024spring/Lec11/figs/power.jpg
2024spring/Lec11/figs/pregnant.jpg
2024spring/Lec11/Lec09_备存.Rmd
2024spring/Lec11/Lec11.html
2024spring/Lec11/Lec11.pdf
2024spring/Lec11/Lec11.Rmd
2024spring/Lec11/Lec11_cache/html/__packages
2024spring/Lec11/Lec11_cache/html/data_cef_e18bf9b2b86b6a6c4d719ce589350141.RData
2024spring/Lec11/Lec11_cache/html/data_cef_e18bf9b2b86b6a6c4d719ce589350141.rdb
2024spring/Lec11/Lec11_cache/html/data_cef_e18bf9b2b86b6a6c4d719ce589350141.rdx
2024spring/Lec11/Lec11_cache/html/fig_cef_c97c73d6763a7ae52db7aff593adf3dd.RData
2024spring/Lec11/Lec11_cache/html/fig_cef_c97c73d6763a7ae52db7aff593adf3dd.rdb
2024spring/Lec11/Lec11_cache/html/fig_cef_c97c73d6763a7ae52db7aff593adf3dd.rdx
2024spring/Lec11/Lec11_cache/html/fig_cef_dist_283f14892e39f2c9b66d921ccfdd3af7.RData
2024spring/Lec11/Lec11_cache/html/fig_cef_dist_283f14892e39f2c9b66d921ccfdd3af7.rdb
2024spring/Lec11/Lec11_cache/html/fig_cef_dist_283f14892e39f2c9b66d921ccfdd3af7.rdx
2024spring/Lec11/Lec11_cache/html/fig_cef_only_7e2fc736a3637a357bd1e18d61ded569.RData
2024spring/Lec11/Lec11_cache/html/fig_cef_only_7e2fc736a3637a357bd1e18d61ded569.rdb
2024spring/Lec11/Lec11_cache/html/fig_cef_only_7e2fc736a3637a357bd1e18d61ded569.rdx
2024spring/Lec11/Lec11_cache/html/fig_reg_cef2_24968a5e89ad43aac148c7df95007229.RData
2024spring/Lec11/Lec11_cache/html/fig_reg_cef2_24968a5e89ad43aac148c7df95007229.rdb
2024spring/Lec11/Lec11_cache/html/fig_reg_cef2_24968a5e89ad43aac148c7df95007229.rdx
2024spring/Lec11/Lec11_cache/html/fig_reg_cef_044b1fd807ba866030ab0954ac36e730.RData
2024spring/Lec11/Lec11_cache/html/fig_reg_cef_044b1fd807ba866030ab0954ac36e730.rdb
2024spring/Lec11/Lec11_cache/html/fig_reg_cef_044b1fd807ba866030ab0954ac36e730.rdx
2024spring/Lec11/Lec11_files/figure-html/fig_cef-1.svg
2024spring/Lec11/Lec11_files/figure-html/fig_cef_dist-1.svg
2024spring/Lec11/Lec11_files/figure-html/fig_cef_only-1.svg
2024spring/Lec11/Lec11_files/figure-html/fig_reg_cef-1.svg
2024spring/Lec11/Lec11_files/figure-html/fig_reg_cef2-1.svg
2024spring/Lec11/video/.DS_Store
2024spring/Lec11/video/BT.mp4
2024spring/Lec11/video/error.mp4
2024spring/Lec11/video/error.srt
2024spring/Lec11/video/selective_attention_test.mp4
2024spring/Lec11/video/TheHighPriceofOwnership.mp4
2024spring/Lec11/video/TheHighPriceofOwnership.srt
2024spring/Lec11/video/TheHighPriceofOwnership.vtt
2024spring/Lec11/video/山鸡.mp4
2024spring/Lec11/手算条件概率.jpeg
2024spring/Lec12/Lec12.html
2024spring/Lec12/Lec12.pdf
2024spring/Lec120/.DS_Store
2024spring/Lec120/data/data_pums_2000.csv
2024spring/Lec120/figs/.DS_Store
2024spring/Lec120/figs/logWage_Exp.png
2024spring/Lec120/figs/MHE-CEF.png
2024spring/Lec120/figs/路径.svg
2024spring/Lec120/figs/随机分配.svg
2024spring/Lec120/Lec11.html
2024spring/Lec120/Lec11.pdf
2024spring/Lec120/Lec11.Rmd
2024spring/Lec120/Lec11.Rproj
2024spring/Lec120/libs/header-attrs/header-attrs.js
2024spring/Lec120/libs/kePrint/kePrint.js
2024spring/Lec120/libs/lightable/lightable.css
2024spring/Lec120/my-css.css
2024spring/Lec120/video/.DS_Store
2024spring/Lec120/video/BT.mp4
2024spring/Lec120/video/selective_attention_test.mp4
2024spring/Lec120/video/TheHighPriceofOwnership.mp4
2024spring/Lec120/video/TheHighPriceofOwnership.srt
2024spring/Lec120/video/TheHighPriceofOwnership.vtt
2024spring/Lec120/xaringan-themer.css
2024spring/Lec13/.DS_Store
2024spring/Lec13/data/data_pums_2000.csv
2024spring/Lec13/figs/.DS_Store
2024spring/Lec13/figs/三个维度.jpg
2024spring/Lec13/Lec13.html
2024spring/Lec13/Lec13.Rmd
2024spring/Lec13/Lec13.Rproj
2024spring/Lec13/libs/header-attrs/header-attrs.js
2024spring/Lec13/libs/kePrint/kePrint.js
2024spring/Lec13/libs/lightable/lightable.css
2024spring/Lec13/my-css.css
2024spring/Lec13/video/.DS_Store
2024spring/Lec13/video/FirstEsportsSpacewar.mp4
2024spring/Lec13/video/monkey.mp4
2024spring/Lec13/video/Pong.mp4
2024spring/Lec13/video/Tennis4two.mp4
2024spring/Lec13/xaringan-themer.css
2024spring/财务分析.pptx
2025spring/.DS_Store
2025spring/Lec00/.DS_Store
2025spring/Lec00/data/data_pums_2000.csv
2025spring/Lec00/figs/.DS_Store
2025spring/Lec00/figs/三个维度.jpg
2025spring/Lec00/Lec13.html
2025spring/Lec00/Lec13.pdf
2025spring/Lec00/Lec13.Rmd
2025spring/Lec00/Lec13.Rproj
2025spring/Lec00/libs/header-attrs/header-attrs.js
2025spring/Lec00/libs/kePrint/kePrint.js
2025spring/Lec00/libs/lightable/lightable.css
2025spring/Lec00/my-css.css
2025spring/Lec00/video/.DS_Store
2025spring/Lec00/video/FirstEsportsSpacewar.mp4
2025spring/Lec00/video/monkey.mp4
2025spring/Lec00/video/Pong.mp4
2025spring/Lec00/video/Tennis4two.mp4
2025spring/Lec00/xaringan-themer.css
2025spring/Lec01000/Lec09.html
2025spring/Lec01000/Lec09.pdf
2025spring/Lec01000/Lec09.Rmd
2025spring/Lec10001/.DS_Store
2025spring/Lec10001/data/data_pums_2000.csv
2025spring/Lec10001/figs/.DS_Store
2025spring/Lec10001/figs/三个维度.jpg
2025spring/Lec10001/Lec10001.html
2025spring/Lec10001/Lec10001.pdf
2025spring/Lec10001/Lec10001.Rmd
2025spring/Lec10001/Lec10001.Rproj
2025spring/Lec10001/libs/header-attrs/header-attrs.js
2025spring/Lec10001/libs/kePrint/kePrint.js
2025spring/Lec10001/libs/lightable/lightable.css
2025spring/Lec10001/my-css.css
2025spring/Lec10001/video/.DS_Store
2025spring/Lec10001/video/FirstEsportsSpacewar.mp4
2025spring/Lec10001/video/monkey.mp4
2025spring/Lec10001/video/Pong.mp4
2025spring/Lec10001/video/Tennis4two.mp4
2025spring/Lec10001/xaringan-themer.css
2025spring/未命名文件夹/.DS_Store
2025spring/未命名文件夹/animate.css
2025spring/未命名文件夹/figs/.DS_Store
2025spring/未命名文件夹/figs/air_pollution.png
2025spring/未命名文件夹/figs/cartel.jpg
2025spring/未命名文件夹/figs/clubgoods.png
2025spring/未命名文件夹/figs/coase.png
2025spring/未命名文件夹/figs/concert.jpg
2025spring/未命名文件夹/figs/court1.jpg
2025spring/未命名文件夹/figs/crossfit.jpg
2025spring/未命名文件夹/figs/freeriding.jpg
2025spring/未命名文件夹/figs/governingthecommons.jpg
2025spring/未命名文件夹/figs/individualvsgroup.png
2025spring/未命名文件夹/figs/logWage_Exp.png
2025spring/未命名文件夹/figs/Nobel.png
2025spring/未命名文件夹/figs/ostrom.jpg
2025spring/未命名文件夹/figs/pigou.png
2025spring/未命名文件夹/figs/propertybundleofrights.png
2025spring/未命名文件夹/figs/r_and_d.png
2025spring/未命名文件夹/figs/samuelson.png
2025spring/未命名文件夹/figs/scrubber.png
2025spring/未命名文件夹/figs/smith.png
2025spring/未命名文件夹/figs/smoking.png
2025spring/未命名文件夹/figs/traffic.png
2025spring/未命名文件夹/figs/trafficjam.png
2025spring/未命名文件夹/figs/transactionscosts.JPG
2025spring/未命名文件夹/figs/vaccines.png
2025spring/未命名文件夹/figs/water_pollution.png
2025spring/未命名文件夹/figs/Wikipedia-paper.png
2025spring/未命名文件夹/figs/wikipedia.png
2025spring/未命名文件夹/Lec09.html
2025spring/未命名文件夹/Lec09.pdf
2025spring/未命名文件夹/Lec09.Rmd
2025spring/未命名文件夹/my-css.css
2025spring/未命名文件夹/xaringan-themer.css
2025spring/未命名文件夹/·/header-attrs/header-attrs.js
SportEconModels/
小组科研模版-体育经济.docx
小组科研模版.docx
