<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/zhouzhengqing/Desktop</string>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {259, 973}}</string>
		<string>{{260, 0}, {1532, 973}}</string>
	</array>
	<key>binderWidth</key>
	<real>265</real>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>00C1924B-0FFE-49B8-9774-2B0A0DDBE6E9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>02011838-4DAE-425E-B345-9DF0BEA36B52</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0677725D-2DC3-4BE8-9C6B-8AECD0CF4148</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0DE825EB-3332-4E5E-B7DF-387DC78312DD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0E804D2D-A3E2-40DD-856B-3E889E57F710</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0F5F03A4-85EF-404E-9977-905989C36969</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>10F8E55A-B584-4B82-A308-C7D44200A058</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1D7280B2-69A8-428B-9868-E1A4D92BC76B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1EA4671A-226E-4DFC-B501-6A0E7FDA5205</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3966D1AF-4F16-464D-894C-BD798DFFABF8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>47BDDE94-7A2D-4F2C-BA0C-4DF8130DE1F6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5605BC82-F238-4E2C-AB17-15CB7B02C666</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5A7E8523-2C57-4FD6-A86B-AE380EBB708C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>61733977-D5D5-4B9F-99E5-09781F8581AD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>644037C6-2484-4A9C-A923-759FF3174D33</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6F9EC2B1-1B74-4DD0-B7D3-1308C85E56E5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>72117E33-5864-4053-9394-41D9566B4D72</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>74C6861B-EB85-4A5C-8416-6949E7E441FB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7C499A3A-643A-44E1-93B2-71EE59C7B3EF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7E97FE12-8B40-4E9C-AB12-880FE2AC8FA4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>81010641-C896-4FC8-A40C-446345C3660B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8D8EF52E-9034-4BC8-9F23-F0E7A4C49A72</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>936DDA56-6C4B-45E1-9C85-52580CEC7226</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>94828BB7-D8CA-4410-99EF-F17C0561D1E0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B8686E7C-A01D-4B39-BA5F-F454D7EABFC8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BA61EE3A-C7EA-47E2-A722-ABDC2F19AE37</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C47FA271-BA8E-473C-ABB8-35DBE26C70EA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D0745B3D-6DB4-4B2B-A772-C179224E765F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D1E1A0C5-717C-4AD5-95E2-B886C7C0677B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D49BD690-FBF4-4043-BE87-07D1B166036D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E4D250BF-8047-4F88-BE3A-F9D65F8DA7E9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E683CB63-AE18-404F-B233-CC8825D76E0D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E7ED66E1-6981-49D6-ADA4-2B3DACEF8B44</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EC39FF76-40C6-4DC2-BA93-FE193B4E7DA2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F0ABADB3-7727-4C5F-82A9-37C3F65AC8A5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F5B1BDA5-EAC4-408E-B971-4F01958DC2DD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F9242788-BFCA-4DEE-8C7F-6E6810745A5C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsHeight</key>
	<real>100</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 100}}</string>
		<string>{{0, 101}, {265, 948}}</string>
	</array>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {1280, 224}}</string>
	</array>
	<key>exportFilesFormat</key>
	<integer>3</integer>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {1304, 943}}</string>
		<string>{{1305, 0}, {227, 943}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.cardWidth</key>
	<real>300</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.interCardSpacing</key>
	<real>30</real>
	<key>mainDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>85</real>
		<key>sectionType</key>
		<real>100</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>253</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>0 94 1792 1001 0 0 1792 1095 </string>
	<key>supportingDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>supportingDocumentEditor.cardWidth</key>
	<real>300</real>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.interCardSpacing</key>
	<real>30</real>
	<key>supportingDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>85</real>
		<key>sectionType</key>
		<real>100</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>253</real>
	</dict>
	<key>supportingDocumentEditor.qrSplitFrame</key>
	<array>
		<string>{{0, 0}, {762.5, 507}}</string>
		<string>{{0, 508}, {762.5, 507}}</string>
	</array>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>2</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
