BODY {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
P {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.hilite {
	BACKGROUND-COLOR: yellow
}
.bodyFont {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
P {
	LINE-HEIGHT: 130%
}
A {
	COLOR: #880000
}
A:link {
	COLOR: #880000
}
A:visited {
	COLOR: #880000
}
A:hover {
	COLOR: #660000; BACKGROUND-COLOR: #ffffcc; TEXT-DECORATION: none
}
.right {
	FONT-SIZE: 11px; COLOR: #000000
}
.left {
	COLOR: #000000; TEXT-DECORATION: none
}
A.leftTextLink:link {
	FONT-SIZE: 11px; COLOR: #000000; TEXT-DECORATION: none
}
A.leftTextLink:visited {
	FONT-SIZE: 11px; COLOR: #000000; TEXT-DECORATION: none
}
A.left:link {
	COLOR: #880000
}
A.left:visited {
	COLOR: #880000
}
A.right:link {
	COLOR: #880000
}
A.right:visited {
	COLOR: #880000
}
A.left:hover {
	COLOR: #660000; BACKGROUND-COLOR: #ffffcc; TEXT-DECORATION: none
}
A.right:hover {
	COLOR: #660000; BACKGROUND-COLOR: #ffffcc; TEXT-DECORATION: none
}
A.rightBig:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #880000
}
A.rightBig:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #880000
}
A.rightBig:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #660000; BACKGROUND-COLOR: #ffffcc; TEXT-DECORATION: none
}
.SBResourcesHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.large {
	FONT-SIZE: 16px
}
.big {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.mid {
	FONT-SIZE: 11px
}
.small {
	FONT-SIZE: 10px
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px
}
.h3 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px
}
.quotes {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.quotesFrom {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.industrialist {
	FONT-SIZE: 12px
}
.theShow {
	FONT-SIZE: 12px
}
.promoBox {
	FONT-SIZE: 12px
}
.industrialistHeadline {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000
}
.theShowHeadline {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000
}
.promoBoxHead {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000
}
.insideTheDaily {
	FONT-SIZE: 12px
}
.insideTheDailyHeadline {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #880000
}
A.insideTheDailyHeadline:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #880000
}
A.insideTheDailyHeadline:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #880000
}
A.insideTheDailyHeadline:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #880000
}
A.insideTheDaily:hover {
	COLOR: #660000; BACKGROUND-COLOR: #ffffcc; TEXT-DECORATION: none
}
.news {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000
}
A.news:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000
}
A.news:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000
}
A.news:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000
}
A.news:hover {
	COLOR: #000000; BACKGROUND-COLOR: #ffffcc; TEXT-DECORATION: none
}
.topNav {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.topNav:link {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.topNav:visited {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.topNav:hover {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.topNav:hover {
	COLOR: #660000; BACKGROUND-COLOR: #ffffcc; TEXT-DECORATION: none
}
.button01 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #808080
}
A.button01:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #808080
}
A.button01:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #808080
}
A.button01:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #808080
}
A.button01:hover {
	COLOR: #000000; BACKGROUND-COLOR: #ffffcc
}
.searchFormText {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.leftFrame {
	BACKGROUND-COLOR: #000000
}
.rightFrame {
	BACKGROUND-COLOR: #000000
}
.unnamed1 {
	BORDER-RIGHT: 2px outset; BORDER-TOP: 2px outset; BORDER-LEFT: 2px outset; BORDER-BOTTOM: 2px outset
}
.14px {
	FONT-SIZE: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.deptHead {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #eeeeee; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.TableOfContentItemLeftNav {
	FONT-SIZE: 11px
}
.paddingBottom4 {
	PADDING-BOTTOM: 4px
}
A.commentOn:link {
	COLOR: #880000
}
A.commentOn:visited {
	COLOR: #880000
}
A.commentOn:hover {
	COLOR: #660000; BACKGROUND-COLOR: #ffffcc; TEXT-DECORATION: none
}
.RatingAndResearchTDTopNav {
	BORDER-RIGHT: 1px outset; BORDER-TOP: 1px outset; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: 1px outset; BORDER-BOTTOM: 1px outset; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: center
}
.RatingAndResearchTDTopNavOver {
	BORDER-RIGHT: 1px outset; BORDER-TOP: 1px outset; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: 1px outset; BORDER-BOTTOM: 1px outset; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: center
}
.RatingAndResearchTDTopNavDown {
	BORDER-RIGHT: 1px outset; BORDER-TOP: 1px outset; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: 1px outset; BORDER-BOTTOM: 1px outset; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: center
}
.RatingAndResearchTDTopNavOver {
	BORDER-RIGHT: #eeeeee 1px groove; BORDER-TOP: #eeeeee 1px groove; BORDER-LEFT: #eeeeee 1px groove; BORDER-BOTTOM: #eeeeee 1px groove; BACKGROUND-COLOR: #dddddd
}
.RatingAndResearchTDTopNavDown {
	BORDER-RIGHT: #eeeeee 1px groove; BORDER-TOP: #eeeeee 1px groove; BORDER-LEFT: #eeeeee 1px groove; BORDER-BOTTOM: #eeeeee 1px groove; BACKGROUND-COLOR: #eeeeee
}
.storyColumn {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.storyHeadline {
	FONT-WEIGHT: bold; FONT-SIZE: 17px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.storyHeadline2 {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: "Times New Roman", Times, serif
}
.storyBy {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.storyWriter {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.staffPosition {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.imageCaption {
	FONT-WEIGHT: bold; TEXT-ALIGN: center
}
.small {
	FONT-SIZE: 11px
}
.imageCaption {
	FONT-SIZE: 11px
}
.mono {
	FONT-FAMILY: "Courier New", Courier, mono
}
.searchRed {
	COLOR: #880000
}
